* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
}

body,
.language {
    font-family: "Lexend", sans-serif;
    background-color: #191D0A;
    color: #fff;
    margin: 0 auto;
}

header {
    border: 4px solid #F97247;
    border-radius: 64px;
    font-size: 0.5rem;
    line-height: 20px;
    margin: 16px 140px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    position: relative;
    z-index: 2;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin: 0 auto;
}

.enter {
    margin: 24px 0;
    line-height: 48px;
}

.enter i {
    margin-right: 8px;
    color: #EBF29D;
}

.enter a,
.language {
    border: 2px solid #EBF29D;
    border-radius: 34px;
    text-transform: uppercase;
    padding: 14px;
    line-height: 36px;
}

.enter a:last-child {
    border-color: #F97247;
    background-color: #F97247;
}

.enter a:not(:last-child) {
    margin-right: 14px;
}

.menu {
    margin: 30px 0;
}

.menu a:not(:last-child) {
    margin-right: 32px;
}

a,
.language {
    text-decoration: none;
    color: #fff;
}

.language {
    margin-right: 14px;
    line-height: 20px;
    font-size: 0.5rem;
}

main {
    margin: auto 140px;
    height: 960px;
}

.partner {
    max-width: 669px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 96px;
}

h1 span {
    color: #F97247;
}

.partner p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    line-height: 32px;
    margin: 24px 0 48px;
}

.partner a {
    display: block;
    width: 265px;
    height: 72px;
    font-size: 0.75rem;
    line-height: 72px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #F97247;
    text-align: center;
}

.blog {
    width: 100%;
    max-width: 531px;
    text-align: center;
}

.chips {
    width: 100%;
    max-width: 333.8px;
    height: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.chips div {
    display: inline-block;
    width: 100%;
    max-width: 100px;
}

.line-two {
    position: relative;
    animation: animation-chaps-up 50s linear infinite;
}

.animation-down {
    position: relative;
    animation: animation-chaps-down 50s linear infinite;
}

@keyframes animation-chaps-down {
    0% {
        top: 0;
    }
    100% {
        top: 900px;
    }
}

@keyframes animation-chaps-up {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 900px;
    }
}

.posts {
    border: 3px solid #F97247;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.12);
    height: 595px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 17px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-margin-right: 16px;
}

.posts::-webkit-scrollbar {
    width: 8px;
    display: block;
    /*margin-right: 16px;*/
}

.posts::-webkit-scrollbar-button:end:decrement {
    height: 20%;
    display: block;
    background: transparent;
}

.posts::-webkit-scrollbar-button:start:increment {
    height: 20%;
    display: block;
    background: transparent;
}

.posts::-webkit-scrollbar-thumb {
    background-color: #F97247;
    border-radius: 10px;
}

.posts::-webkit-scrollbar-track {
    background-color: #585a5c;
    border-radius: 10px;
}

h2 {
    font-size: 1.25rem;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.posts a {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 467px;
    height: 146px;
    border: 1px solid #311212;
    border-radius: 196px;
    background-color: #311212;
}

.posts a:first-child {
    border-color: #F97247;
    background-color: #F97247;
}

.posts a:not(:last-child) {
    margin-bottom: 16px;
}

h3 {
    font-size: 0.75rem;
    line-height: 28px;
    font-weight: 400;
    margin: 16px 64px 14px;
    height: 84px;
    overflow: hidden;
}

.date {
    font-size: 0.44rem;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 450;
    vertical-align: top;
    margin-left: 64px;
}

footer {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 20px;
    border-top: 4px solid #F97247;
    border-right: 4px solid #F97247;
    border-left: 4px solid #F97247;
    background-color: rgba(249, 114, 71, 0.1);
    padding: 40px 140px 24px;
    border-radius: 64px 64px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.pages a:not(:last-child) {
    margin-right: 40px;
}

.pages a:first-child {
    text-decoration: underline;
    color: #F97247;
}

.media {
    text-align: right;
}

.media p {
    margin-bottom: 14px;
}

.twitter::before {
    content: "";
    background-image: url('../img/twitter.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.linkedIn::before {
    content: "";
    background-image: url('../img/in.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.youtube::before {
    content: "";
    background-image: url('../img/youtube.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.tiktok::before {
    content: "";
    background-image: url('../img/tiktok.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.telegram::before {
    content: "";
    background-image: url('../img/telegram.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.vk::before {
    content: "";
    background-image: url('../img/vk.svg');
    display: inline-block;
    width: 32px;
    height: 32px;
}

.links a:not(:last-child) {
    margin-right: 8px;
}

.links a {
    transition-duration: 1s;
}

.links a:hover {
    filter: hue-rotate(45deg);
}

.background-img {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    height: 1218px;
    width: 100%;
}

@media screen and (max-width:1759px) {
    h1 {
        font-size: 2rem;
        line-height: 50px;
    }
}

@media screen and (max-width:1574px) {
    main {
        margin: auto 50px;
    }
    header {
        margin: 16px 50px 0 50px;
    }
    footer {
        padding: 40px 50px 24px;
    }
}

@media screen and (max-width:1400px) {
    html {
        font-size: 28px;
    }
    h1 {
        font-size: 1.64rem;
        line-height: 50px;
    }
    .logo {
        width: 100%;
        max-width: 150px;
    }
}

@media screen and (max-width:1260px) {
    h3 {
        font-size: 0.5rem;
        line-height: 20px;
        font-weight: 400;
        margin: 15px 35px 6px;
        height: 60px;
    }
    .partner p {
        font-size: 0.71rem;
        line-height: 26px;
        margin: 12px 0 24px;
    }
    .partner a {
        width: 300px;
        height: 53px;
        font-size: 0.64rem;
        line-height: 53px;
    }
    .posts {
        height: 421px;
    }
    .posts a {
        width: 100%;
        /*max-width: 274px;*/
        height: 112px;
    }
    .date {
        margin-left: 35px;
    }
}

@media screen and (max-width:1190px) {
    .logo {
        width: 100%;
        max-width: 50px;
    }
    .chips div img {
        width: 100%;
        max-width: 80px;
    }
}

@media screen and (max-width:1100px) {
    h2 {
        font-size: 1.14rem;
        line-height: 40px;
    }
    .menu a:not(:last-child) {
        margin-right: 16px;
    }
    .logo {
        width: 100%;
        max-width: 1px;
    }
    .pages a:not(:last-child) {
        margin-right: 20px;
    }
    .posts {
        border-radius: 50px;
    }
    .posts a {
        border-radius: 40px;
    }
}

@media screen and (max-width:960px) {
    h2 {
        margin-bottom: 16px;
    }
    .wrapper {
        flex-direction: column;
        margin: 70px 0;
        row-gap: 32px;
    }
    header {
        margin: 16px 10px 0 10px;
    }
    .partner {
        text-align: center;
    }
    .partner a {
        margin: 0 auto;
    }
    .line-one,
    .line-two,
    .line-three {
        transform: rotate(90deg);
    }
    @keyframes animation-chaps-down {
        0% {
            left: 0;
        }
        100% {
            left: 900px;
        }
    }
    @keyframes animation-chaps-up {
        0% {
            right: 0;
        }
        100% {
            right: 900px;
        }
    }
    .chips {
        width: 100%;
        height: 165px;
    }
    /*.chips {
        transform: rotate(90deg);
        height: 165px;
        width: 165px;
        overflow: hidden;
    }*/
    main {
        height: 100%;
        margin: auto 10px;
    }
    .posts a:not(:last-child) {
        margin-bottom: 10px;
    }
    .posts {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 16px;
    }
}

@media screen and (max-width:937px) {
    header {
        padding: 0 10px;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        border-radius: 50px 50px 0px 0px;
    }
    .pages a {
        display: block;
    }
    .media {
        text-align: left;
        margin-top: 20px;
    }
    .links a:not(:last-child) {
        margin-right: 4px;
    }
    .links a img {
        width: 27px;
        margin-top: 8px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:320px) {}