* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
}

body,
.language {
    font-family: "Lexend", sans-serif;
    background-color: #1E1231;
    color: #fff;
}

header {
    border: 4px solid #478BF9;
    border-radius: 64px;
    font-size: 0.5rem;
    line-height: 20px;
    margin: 16px 140px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    position: relative;
    z-index: 2;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    width: 100%;
    max-width: 287px;
}

.enter {
    margin: 24px 0;
    line-height: 48px;
}

.enter i {
    margin-right: 8px;
    color: #9DADF2;
}

.enter a,
.language {
    border: 2px solid #9DADF2;
    border-radius: 34px;
    text-transform: uppercase;
    padding: 14px;
    line-height: 36px;
}

.enter a:last-child {
    background-color: #478BF9;
}

.enter a:not(:last-child) {
    margin-right: 14px;
}

.menu {
    margin: 30px 0;
}

.menu a:not(:last-child) {
    margin-right: 32px;
}

a,
.language {
    text-decoration: none;
    color: #fff;
}

.language {
    margin-right: 14px;
    line-height: 20px;
    font-size: 0.5rem;
}

main {
    margin: auto 140px;
    height: 960px;
}

.partner {
    max-width: 669px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 96px;
}

h1 span {
    color: #478BF9;
}

.partner p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    line-height: 32px;
    margin: 24px 0 48px;
}

.partner a {
    display: block;
    width: 393px;
    height: 72px;
    font-size: 0.75rem;
    line-height: 72px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #478BF9;
    text-align: center;
}

.blog {
    width: 100%;
    max-width: 531px;
    text-align: center;
}

.chips {
    width: 100%;
    max-width: 333.8px;
    height: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.chips div {
    display: inline-block;
    width: 100%;
    max-width: 100px;
}

.line-two {
    position: relative;
    animation: animation-chaps-up 50s linear infinite;
}

.animation-down {
    position: relative;
    animation: animation-chaps-down 50s linear infinite;
}

@keyframes animation-chaps-down {
    0% {
        top: 0;
    }
    100% {
        top: 900px;
    }
}

@keyframes animation-chaps-up {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 900px;
    }
}

.posts {
    border: 3px solid #478BF9;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.12);
    height: 595px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 17px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-margin-right: 16px;
}

.posts::-webkit-scrollbar {
    width: 8px;
    display: block;
    /*margin-right: 16px;*/
}

.posts::-webkit-scrollbar-button:end:decrement {
    height: 20%;
    display: block;
    background: transparent;
}

.posts::-webkit-scrollbar-button:start:increment {
    height: 20%;
    display: block;
    background: transparent;
}

.posts::-webkit-scrollbar-thumb {
    background-color: #478BF9;
    border-radius: 10px;
}

.posts::-webkit-scrollbar-track {
    background-color: #585a5c;
    border-radius: 10px;
}

h2 {
    font-size: 1.25rem;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.posts a {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 467px;
    height: 146px;
    border: 1px solid #1E1231;
    border-radius: 196px;
    background-color: #1E1231;
}

.posts a:first-child {
    border-color: #478BF9;
    background-color: #478BF9;
}

.posts a:not(:last-child) {
    margin-bottom: 16px;
}

h3 {
    font-size: 0.75rem;
    line-height: 28px;
    font-weight: 400;
    margin: 16px 64px 14px;
    height: 84px;
    overflow: hidden;
}

.date {
    font-size: 0.44rem;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 450;
    vertical-align: top;
    margin-left: 64px;
}

footer {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 20px;
    border-top: 4px solid #478BF9;
    border-right: 4px solid #478BF9;
    border-left: 4px solid #478BF9;
    padding: 40px 140px 24px;
    border-radius: 64px 64px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.pages a:not(:last-child) {
    margin-right: 40px;
}

.pages a:first-child {
    text-decoration: underline;
    color: #478BF9;
}

.media {
    text-align: right;
}

.links a:not(:last-child) {
    margin-right: 8px;
}

.links a img {
    margin-top: 14px;
    transition-duration: 1s;
}

.links a img:hover {
    filter: hue-rotate(40deg);
}

.background-img {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    height: 1218px;
}